
### Importing pandas packages

In [1]:
import pandas as pd

### Read the data

In [2]:
 dataset=pd.read_csv('glass.data',header=None)

### head function to view dataset

In [3]:
dataset.head()

   0        1      2     3     4      5     6     7    8    9   10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0   1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0   1

In [4]:
col=['Id number','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of Glass']

In [5]:
dataset.columns=col

In [6]:
dataset.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of Glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

### Importing StandardScaler for scaling of dataset

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc = StandardScaler()

In [9]:
data_scaled = sc.fit_transform(dataset)

### Scaled Data

In [10]:
data_scaled

array([[-1.72397593,  0.87286765,  0.28495326, ..., -0.35287683,
        -0.5864509 , -0.84827468],
       [-1.70778837, -0.24933347,  0.59181718, ..., -0.35287683,
        -0.5864509 , -0.84827468],
       [-1.6916008 , -0.72131806,  0.14993314, ..., -0.35287683,
        -0.5864509 , -0.84827468],
       ...,
       [ 1.6916008 ,  0.75404635,  1.16872135, ...,  2.95320036,
        -0.5864509 ,  2.01047778],
       [ 1.70778837, -0.61239854,  1.19327046, ...,  2.81208731,
        -0.5864509 ,  2.01047778],
       [ 1.72397593, -0.41436305,  1.00915211, ...,  3.01367739,
        -0.5864509 ,  2.01047778]])

### Division of dataset into X & y variable

In [11]:
X=dataset[['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe']]

In [12]:
y=dataset['Type of Glass']

In [13]:
X.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [14]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Type of Glass, dtype: int64

### From sklearn.model_selection importing train_test_split package

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=9)

In [16]:
X_train.shape

(171, 9)

In [17]:
X_test.shape

(43, 9)

### Now importing DecisionTreeClassifier package

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
model = DecisionTreeClassifier()

### Fitting the model

In [20]:
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [21]:
DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [22]:
y_pred=model.predict(X_test)

### Predicted result

In [23]:
y_pred

array([1, 2, 2, 2, 3, 1, 2, 2, 2, 3, 7, 3, 2, 3, 1, 1, 3, 2, 1, 5, 1, 1,
       7, 1, 7, 2, 7, 1, 2, 1, 2, 1, 3, 1, 2, 2, 1, 1, 1, 1, 2, 3, 1],
      dtype=int64)

In [24]:
from sklearn.metrics import confusion_matrix,accuracy_score

### Confusion Matrix

In [25]:
confusion_matrix(y_test,y_pred)

array([[14,  2,  2,  0,  0],
       [ 0, 12,  2,  0,  0],
       [ 1,  0,  3,  0,  0],
       [ 0,  0,  0,  1,  0],
       [ 2,  0,  0,  0,  4]], dtype=int64)

### Accuracy of model

In [26]:
accuracy_score(y_test,y_pred)

0.7906976744186046