### Importing libraries

In [1]:
import pandas as pd 
import numpy as np

### Importing the dataset

In [2]:
df=pd.read_csv('glass.data',header=None)
df.head()

   0        1      2     3     4      5     6     7    8    9   10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0   1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0   1

In [3]:
col=['Id number','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of Glass']

In [4]:
df.columns=col

In [5]:
df.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of Glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

In [6]:
X=df[['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe']]
y=df['Type of Glass']

In [7]:
X.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [8]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Type of Glass, dtype: int64

### Splitting the dataset into the Training set and Test set

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=3)

### Importting SVC

In [10]:
from sklearn.svm import SVC

In [11]:
model = SVC(kernel='linear',C=100,gamma=1)
model.fit(X_train,y_train)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [12]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [13]:
pred=model.predict(X_test)

### Accuracy of model

In [14]:
accuracy_score(y_test,pred)

0.67441860465116277

### Importing the dataset for Naive Bayes

In [15]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [16]:
dataset.head(5)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

### Making the Feature matris and dependent vector

In [17]:
X_nb = dataset.iloc[:, 0:2].values
y_nb = dataset.iloc[:,2].values

### Splitting the dataset into the Training set and Test set

In [18]:
X_nb_train, X_nb_test, y_nb_train, y_nb_test = train_test_split(X_nb, y_nb, test_size = 0.25, random_state = 3)

### Feature Scaling

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_nb_train = sc.fit_transform(X_nb_train)
X_nb_test = sc.transform(X_nb_test)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

### Fitting Naive Bayes to the Training set

In [20]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_nb_train, y_nb_train)

GaussianNB(priors=None)

### Predicting the Test set results

In [21]:
y_nb_pred = classifier.predict(X_nb_test)

In [22]:
cm = confusion_matrix(y_nb_test, y_nb_pred)

In [23]:
cm

array([[61,  4],
       [ 7, 28]])

### Accuracy of model

In [24]:
accuracy_score(y_nb_test,y_nb_pred)

0.89000000000000001